/*
    Author: Kyle Dick
    HWU ID: H00301592
    Email: kd41@hw.ac.uk
    Last Edit: 15/03/2022
*/
html, body { height: 100%; width: 100%; margin: 0; }

#container {
    margin: 2.5%;
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#currentChart {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: scroll;
}

#currentDisplay {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

#header {
    width: 100%;
    height: 10%;
    background-color: gray;
}

.dropBtn {
    background-color: blue;
    width: 30%;
    font-size: 8px;
}

.dropResult {
    background-color: lightseagreen;
    border-style: solid;
    width: 35%;
    font-size: 8px;
}

.chartButton {
    position: relative;
    width: 10%;
    height: 10%;
    top: 80%;
    left: 20%;
    border-width: 0;
    background-color: transparent;
    margin: 5%;
}

.record {
    border-style: double;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.val {
    color: red;
}